/* NAV BAR */

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  padding: 25px;
}

.buscar-nav {
  background-color: #0c2d57;
  color: #f4f1f1;
  text-align: center;
  width: 20%;
  border: 1px solid;
  border-radius: 12px;
  background-image: url(../assets/images/lupa.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0.2rem center;
}

.nav-2 {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-decoration: none;

      a {
        text-decoration: none;
        color: #0c2d57;
        font-family: "Mulish", sans-serif;
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
}

.logo-nav {
  color: #0c2d57;
}

.buscar {
  background-color: #0c2d57;
  color: #efecec;
}
