/* NAV BAR */

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  padding: 25px;

  nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
      list-style: none;

      li {
        justify-content: space-evenly;
        text-decoration: none;

        a {
          text-decoration: none;
          color: $azul;
          font-family: $font-family;
          font-size: 25px;
          font-weight: 700;

          &:hover {
            border: 3px solid $azul;
            border-radius: 3px;
          }
        }
      }
    }

    input {
      display: none;
    }
  }

  .buscar-nav {
    background-color: map-get($colores, azul);
    color: #f4f1f1;
    text-align: center;
    width: 20%;
    border: 1px solid;
    border-radius: 12px;
    background-image: url(../assets/images/lupa.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 0.2rem center;
  }

  .logo-nav {
    color: map-get($colores, azul);
  }

  .buscar {
    background-color: map-get($colores, azul);
    color: $blanco;
  }
}
