/* RECETAS */

.main-recetas {
  display: flex;
  background-color: $blanco;

  .seccion-destacados {
    display: flex;
    flex-direction: column;
    width: auto;

    .dest-cat-dific {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-family: $font-family;
      margin-left: 10px;
      padding: 10px;
      height: 100%;

      h2 {
        color: $naranja;
      }

      .buttons1 {
        color: $azul;
        padding: 3px 3px;
        margin: 3px;
        border-radius: 14px;
        border: 1px solid;
        border-color: $naranja;
        background-color: $blanco;
        width: 100%;
      }

      .buttons2 {
        color: $azul;
        padding: 3px 3px;
        margin: 3px;
        border-radius: 14px;
        border: 1px solid;
        border-color: $gris;
        background-color: $gris;
        width: 100%;
      }
    }
  }

  .seccion-body-recetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    font-family: $font-family;

    .filtros-body {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 30px;
      justify-content: space-evenly;

      button {
        color: $azul;
        padding: 15px 15px;
        margin: 3px;
        border-radius: 15px;
        border: 1px solid;
        border-color: $azul;
        background-color: $blanco;
        width: 100%;
      }
    }

    .buscar-recetas {
      @include orange-button;
    }

    .img-recetas {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 100px;
      margin-top: 30px;

      img {
        width: 210px;
        height: 270px;
      }
    }

    .filtros-aplicados {
      display: flex;
      flex-direction: row;
      width: 100%;
      font-family: $font-family;
      margin: 20px;
      justify-content: space-evenly;
      align-items: center;

      .div1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        p {
          color: $azul;
          font-weight: bold;
        }
      }

      div {
        display: flex;
        justify-content: start;
        gap: 15px;
      }

      .div1 div button {
        color: $azul;
        padding: 10px 10px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 14px;
        border: 1px solid;
        border-color: $gris;
        background-color: $gris;
        width: auto;
      }

      .eliminar-filtros {
        display: flex;
        justify-content: end;
        padding-left: 300px;
        color: $azul;
        border: none;
        background-color: $blanco;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}
