/* RECETAS */

.main-recetas {
  display: flex;
  background-color: $blanco;

  .seccion-destacados {
    display: flex;
    flex-direction: column;
    width: auto;

    .dest-cat-dific {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      font-family: $font-family;
      margin-left: 10px;
      padding: 10px;
      height: 100%;

      h2 {
        color: $naranja;
      }

      .buttons1 {
        color: $azul;
        padding: 3px 3px;
        margin: 3px;
        height: 35px;
        border-radius: 14px;
        border: 1px solid;
        border-color: $naranja;
        background-color: $blanco;
        width: 100%;

        &:hover {
          background-color: $gris;
          border-color: $gris;
          cursor: pointer;
        }
      }

      .buttons2 {
        color: $azul;
        padding: 3px 3px;
        margin: 3px;
        height: 35px;
        border-radius: 14px;
        border: 1px solid;
        border-color: $gris;
        background-color: $gris;
        width: 100%;

        &:hover {
          background-color: $blanco;
          border-color: $naranja;
          cursor: pointer;
        }
      }
    }
  }

  .seccion-body-recetas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: $font-family;

    .filtros-body {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 30px;
      justify-content: space-evenly;

      button {
        color: $azul;
        padding: 15px 15px;
        margin: 3px;
        border-radius: 14px;
        border: 1px solid;
        border-color: $azul;
        background-color: $blanco;
        width: 100%;

        &:hover {
          color: $blanco;
          background-color: $azul;
          border-color: $azul;
          cursor: pointer;
        }
      }
    }

    .filtros-body2 {
      display: none;

      .buscar-recetas2 {
        @include orange-button;

        &:hover {
          cursor: pointer;
        }
      }

      .filtrar {
        color: $azul;
        padding: 15px 15px;
        margin: 3px;
        border-radius: 14px;
        border: 1px solid;
        border-color: $azul;
        background-color: $blanco;
        width: 100%;

        &:hover {
          color: $blanco;
          background-color: $azul;
          border-color: $azul;
          cursor: pointer;
        }
      }
    }

    .buscar-recetas {
      @include orange-button;

      &:hover {
        cursor: pointer;
      }
    }

    .img-recetas {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
      margin-top: 30px;

      img {
        width: 250px;
        height: 300px;
      }
    }

    .filtros-aplicados {
      display: flex;
      justify-content: space-between;
      width: 90%;
      font-family: $font-family;
      margin: 20px;
      align-items: center;

      p {
        color: $azul;
        font-weight: bold;
      }

      div {
        display: flex;
        gap: 15px;

        button {
          color: $azul;
          padding: 10px 10px;
          padding-left: 40px;
          padding-right: 40px;
          border-radius: 14px;
          border: 1px solid;
          border-color: $gris;
          background-color: $gris;
          width: 100%;
        }
      }

      .eliminar-filtros {
        color: $azul;
        border: none;
        background-color: $blanco;
        font-weight: bold;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
